.centered_text {
    text-align: center;
}

header {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    background-color: #808080;
}

.navigasjonsbar {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    background-color: #808080;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main_content {
    flex-grow: 1;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

footer {
    font-size: 30px;
    padding-top: 10px;
    background-color: #808080;
}

.index_overskrift {
    font-size: x-large;
}

.index_content {
    font-size: medium;
}

.overskrift {
    font-size: x-large;
}

.kontaktinformasjon {
    font-size: medium;
}