.centered_text {
    text-align: center;
}

header {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    background-color: #808080;
}

.navigasjonsbar {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    background-color: #808080;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.main_content {
    flex-grow: 1;
}

footer {
    font-size: 30px;
    padding-top: 10px;
    background-color: #808080;
}


.overskrift {
    font-size: x-large;
}

.kontaktinformasjon {
    font-size: medium;
}