<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>Akademiet Kantine</header>
    <div class="navigasjonsbar">
        <a href="/">Hjem</a>
        <a href="/meny">Meny</a>
        <a href="/varer">Varer</a>
        <a href="/kontakt">Kontakt</a>
    </div>
    {% block content %}{% endblock %}
    <footer>
        Laget av: <br>
        Lukas Strandengen Rollnes <br> <br>
        Hovedkontor: <br>
        Pilestredet 56 <br>
        0167 Oslo
    </footer>
</body>
</html>